.hg
.hgignore
*.mov
*.log
*.tab
*.mov
*.VOD
*.mp4
*.jpg
QT
*.user
*.suo
*.xcodeproj/*.mode1
Debug
Develop
build
Copie de*
*.aup
*.caf
*.all_data
*.tc
*.rgb
LaneSplitting-full.qi2m
EssaiMicro-avi.qi2m
EssaiMicro-full.qi2m
EssaiMicro2-full.qi2m
LaneSplitting-134.qi2m
copy.*
Release
XML_files.lnk
UpperLeft.tif
UpperLeft256G.tif
UpperRight.tif
XML_files
*.avi
kk*
*.jpgs
*.ncb
*.build
lib*.a
ipch
*.sdf
scratch.c
*.ttf
*.qtx
*.rtf
*.doc
*.pages
*.pdf
*.docset
bertin.*
*.sxw
*.component
*.rar
*.qi2m
*.xml
F0*
*.exe
FFmpeg/*/bin
FFmpeg/*/lib
brigade.c
brigade.h
